@charset "UTF-8";

body {
  background: url(../img/bg_dark.jpg);
  background-repeat: repeat;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
}

.header {
  height: 100vh;
  min-height: 700px;
  color: #242424;
  position: relative;
}

.header__top {
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
}

.header__top--scroll {
  visibility: hidden;
  height: 0;
}

.header__menu {
  position: relative;
  z-index: 1000;
}

.header__menu--active .menu {
  background: rgba(0, 0, 0, 0.9);
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}

.social {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.social__link {
  display: inline-block;
  color: #caa53e;
  font-size: 20px;
  padding: 0 10px;
}

.logo {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.logo__link {
  margin: 0;
  padding: 0;
}

.logo__title {
  margin: 0;
  padding: 0;
}

.logo__text {
  margin: 0;
  padding: 0;
  font-size: 11px;
}

.logo__img {
  margin-top: 10px;
  height: 40px;
}

.telephone {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.telephone__link {
  color: #caa53e;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

.fa-phone {
  color: white;
}

.menu {
  margin: 40px 0;
}

.menu__icon {
  display: none;
}

.menu__icon a {
  color: white;
}

.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.menu__item {
  list-style: none;
  position: relative;
  padding-right: 10px;
}

.menu__item:last-child {
  padding-right: 0;
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  white-space: nowrap;
  -webkit-transition: color ease 0.5s;
  -o-transition: color ease 0.5s;
  transition: color ease 0.5s;
  font-size: 16px;
}

.menu__link:hover {
  color: #caa53e;
}

.menu__link--mobile {
  display: none;
}

.fa-angle-down {
  color: white;
  padding: 0 0 0 20px;
}

.fa-home {
  color: #caa53e;
}

.submenu__items {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  padding: 0;
}

.submenu__item {
  list-style: none;
}

.submenu__link {
  display: block;
  text-decoration: none;
  color: white;
  white-space: nowrap;
  -webkit-transition: color ease 0.5s;
  -o-transition: color ease 0.5s;
  transition: color ease 0.5s;
  padding: 20px;
}

.submenu__link:hover {
  color: #caa53e;
}

.menu__item:hover > .submenu__items {
  background: rgba(0, 0, 0, 0.7);
  display: block;
}

.slider-1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  max-width: 100%;
}

.slider-1__item {
  position: relative;
}

.slider-1__item::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  z-index: 1;
}

.slider-1__img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100vh;
  min-height: 700px;
}

.slider-1 > .slick-list {
  overflow: hidden;
}

.slider-1 .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-1 .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 1000;
  font-size: 0;
  border: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.slider-1 .slick-arrow.slick-prev {
  background: rgba(0, 0, 0, 0.6);
  left: 0;
  background: url(../img/icon/left.svg) no-repeat center;
}

.slider-1 .slick-arrow.slick-next {
  right: 0;
  background: url(../img/icon/right.svg) no-repeat center;
}

.banner {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  text-align: center;
  padding: 10px 30px;
  display: block;
  z-index: 100;
}

.banner__title {
  text-transform: uppercase;
  color: #caa53e;
}

.banner__title::after {
  content: url(../img/icon/separator.png);
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  display: block;
}

.banner-content__title {
  color: #338cc7;
  font-size: 25px;
}

.banner-content__text {
  padding: 10px 0;
  color: white;
}

.btn-about {
  background: #338cc7;
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 12px 30px;
  margin-bottom: 10px;
}

.news,
.articles,
.reviews,
.about {
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
  padding-bottom: 50px;
}

.news__title,
.articles__title,
.reviews__title,
.about__title {
  color: #caa53e;
  font-size: 25px;
  padding: 20px 0;
}

.news__title::after,
.articles__title::after,
.reviews__title::after,
.about__title::after {
  content: url(../img/icon/separator.png);
  display: block;
}

.news__container,
.articles__container,
.reviews__container,
.about__container {
  margin: 50px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.news__container:hover > .news__detailed,
.news__container:hover > .articles__detailed,
.articles__container:hover > .news__detailed,
.articles__container:hover > .articles__detailed,
.reviews__container:hover > .news__detailed,
.reviews__container:hover > .articles__detailed,
.about__container:hover > .news__detailed,
.about__container:hover > .articles__detailed {
  opacity: 1;
}

.news__img,
.articles__img,
.reviews__img,
.about__img {
  max-width: 100%;
  cursor: pointer;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-filter: brightness(1);
  filter: brightness(1);
  -webkit-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
  position: relative;
}

.news__img:hover,
.articles__img:hover,
.reviews__img:hover,
.about__img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-filter: brightness(0.5);
  filter: brightness(0.5);
}

.news__detailed,
.articles__detailed,
.reviews__detailed,
.about__detailed {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  margin: 0;
  z-index: 100;
  color: #caa53e;
  font-size: 20px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
  opacity: 0;
  pointer-events: none;
}

.news__description,
.articles__description,
.reviews__description,
.about__description {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  display: block;
  color: #caa53e;
  font-size: 20px;
  width: 100%;
  padding: 10px 0;
  bottom: 0;
  left: 0;
  margin: 0;
  pointer-events: none;
}

.news__all,
.articles__all,
.reviews__all,
.about__all {
  color: #caa53e;
  font-size: 20px;
  text-decoration: none;
}

.news__all:hover,
.articles__all:hover,
.reviews__all:hover,
.about__all:hover {
  text-shadow: 3px 2px 5px #b18700;
}

.slider-2 {
  padding: 10px 0;
}

.slider-2 > .slick-list {
  overflow: hidden;
}

.slider-2 .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

/* Точки (булиты) */

.slider-2 > .slick-dots {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 40px;
}

.slider-2 > .slick-dots li {
  background: #888888;
  width: 15px;
  height: 15px;
  margin: 3px;
  cursor: pointer;
}

/* Активная точка */

.slider-2 > .slick-dots li.slick-active {
  background: #caa53e;
}

/* Элемент точки */

.slider-2 > .slick-dots li button {
  opacity: 0;
  cursor: pointer;
}

.slider-3 > .slick-list {
  overflow: hidden;
}

.slider-3 .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.slider-4 > .slick-list {
  overflow: hidden;
}

.slider-4 .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1000;
}

.reviews {
  background: transparent;
}

.reviews__content {
  text-align: justify;
  color: silver;
}

.reviews__name {
  text-align: left;
  font-style: italic;
  padding: 30px 0;
}

.about {
  color: silver;
  background: fixed url(../img/cta-bg1.jpg);
}

.about__title {
  color: silver;
}

.about__text {
  font-size: 18px;
  line-height: 150%;
}

.about__link {
  color: #caa53e;
  text-decoration: none;
}

.contact {
  text-align: center;
  padding: 20px 0;
}

.contact__link {
  text-decoration: none;
  color: #caa53e;
  line-height: 200%;
  font-size: 18px;
}

.footer {
  background: rgba(0, 0, 0, 0.6);
  margin: 0;
  padding: 5px 0;
}

.footer__text {
  color: silver;
  text-align: center;
}

.slider {
  width: 100%;
}

.about-page-1 {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 80%;
  max-width: 1170px;
  min-height: 500px;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  text-align: center;
  padding: 10px 30px;
  display: block;
  z-index: 10;
}

.about-page-1__title {
  text-transform: uppercase;
  color: #caa53e;
}

.about-page-1__title::after {
  content: url(../img/icon/separator.png);
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  display: block;
}

.about-page-1__text {
  padding: 10px 30px;
  color: white;
  font-size: 18px;
}

.about-content {
  background: rgba(0, 0, 0, 0.6);
  display: inline-block;
  margin-top: 30px;
  padding: 5px 30px;
}

.about-content__title {
  color: #338cc7;
  font-size: 25px;
}

.about-content__text {
  padding: 10px 0;
  color: white;
  position: relative;
  z-index: 1000;
}

.price {
  margin-top: 2rem;
}

.price__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #caa53e;
}

.price__column {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
  margin: 30px;
}

.price__title {
  color: #caa53e;
  font-size: 18px;
  text-align: center;
}

.price__title::after {
  content: url(../img/icon/separator.png);
  display: block;
}

.price__text {
  color: white;
}

.price__text--warning {
  text-align: center;
  color: #8f0000;
}

.price__text--time {
  padding: 20px 0;
  text-align: center;
}

.price-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #caa53e;
  font-size: 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 0;
}

.price-content__price {
  white-space: nowrap;
}

.price-content__text {
  color: #cdcdcd;
  text-align: justify;
  padding-right: 10px;
}

.sauna-name {
  position: relative;
  top: -300px;
  z-index: 100;
  margin: 0 40px;
}

.sauna-name__items {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.sauna-name__link {
  background: rgba(0, 0, 0, 0.6);
  display: inline-block;
  padding: 8px;
  color: white;
  text-decoration: none;
  margin: 10px 10px;
  white-space: nowrap;
}

/*----текстовая часть про сауны----*/

.sauna-about {
  text-align: center;
  color: white;
}

.sauna-about__title {
  color: #caa53e;
  margin-bottom: 10px;
}

.sauna-about__title::after {
  content: url(../img/icon/separator.png);
  display: block;
}

.sauna-about__work {
  color: #caa53e;
  margin-bottom: 10px;
}

.sauna-about__tel {
  color: #caa53e;
  margin-bottom: 10px;
  display: inline-block;
}

.sauna-about__link {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
}

.sauna-about__warning {
  color: #caa53e;
}

.sauna-about__warning--red {
  background: rgba(150, 37, 37, 0.6);
  padding: 5px;
  margin-bottom: 10px;
}

.sauna-about__content {
  text-align: justify;
  padding-bottom: 10px;
  font-size: 16px;
  color: #cdcdcd;
}

.sauna-about__time {
  color: #caa53e;
}

.sauna-about__time::after {
  content: url(../img/icon/separator.png);
  display: block;
  margin: 20px 0;
}

/*----виды саун, галерея с ссылками---*/

.sauna,
.services-type {
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
  padding-bottom: 50px;
}

.sauna__title,
.services-type__title {
  color: #caa53e;
  font-size: 25px;
  padding: 20px 0;
}

.sauna__container,
.services-type__container {
  margin: 50px;
  width: 100%;
  max-width: 500px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.sauna__img,
.services-type__img {
  width: 100%;
  cursor: pointer;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
  position: relative;
}

.sauna__img:hover,
.services-type__img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.sauna__description,
.services-type__description {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  display: block;
  color: #caa53e;
  font-size: 20px;
  width: 100%;
  padding: 10px;
  bottom: 0;
  left: 0;
  margin: 0;
  pointer-events: none;
}

.gallery-wrapper {
  text-align: center;
  margin: 30px;
}

.gallery__img {
  width: 200px;
}

.bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.bg__img {
  width: 100%;
  height: 100vh;
  position: relative;
  -webkit-animation: move 20s infinite;
  animation: move 20s infinite;
  -o-object-fit: cover;
  object-fit: cover;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 80% 0;
    transform-origin: 50% 80% 0;
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transform-origin: 50% 100% 0;
    transform-origin: 50% 100% 0;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 80% 0;
    transform-origin: 50% 80% 0;
  }
}

@keyframes move {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 80% 0;
    transform-origin: 50% 80% 0;
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transform-origin: 50% 100% 0;
    transform-origin: 50% 100% 0;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 80% 0;
    transform-origin: 50% 80% 0;
  }
}

.loyalnost {
  margin-top: 1.5rem;
}

.loyalnost__title {
  text-align: center;
  color: #caa53e;
}

.loyalnost__title::after {
  content: url(../img/icon/separator.png);
  display: block;
}

.loyalnost-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loyalnost-content__text {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #cdcdcd;
  padding-right: 10px;
  line-height: 200%;
}

.loyalnost-content__paragraph {
  padding-bottom: 10px;
}

.loyalnost-content__picture {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: 10px;
}

.loyalnost-content__img {
  max-width: 100%;
}

.present {
  margin-top: 1.5rem;
  color: #cdcdcd;
}

.present__title {
  text-align: center;
  color: #caa53e;
  margin-bottom: 10px;
}

.present__title::after {
  content: url(../img/icon/separator.png);
  display: block;
  margin-bottom: 10px;
}

.present__text {
  text-align: center;
  margin-bottom: 10px;
}

.present-content {
  font-size: 16px;
}

.present-content__paragraph {
  margin-bottom: 10px;
}

.present-content__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.present-content__img {
  margin: 20px;
}

.present-content__paragraph--golg {
  color: #caa53e;
}

.present-content__rules {
  padding-left: 10px;
}

.present-content__rule {
  margin-bottom: 10px;
}

.kitchen__title {
  text-align: center;
  color: #caa53e;
}

.kitchen__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.kitchen__img {
  max-width: 100%;
}

@supports (-webkit-appearance:none) {
  body {
    background: url(../img/bg_dark.webp);
  }

  .slider-1 .slick-arrow.slick-prev {
    background: url(../img/icon/left.svg) no-repeat center;
  }

  .slider-1 .slick-arrow.slick-next {
    background: url(../img/icon/right.svg) no-repeat center;
  }

  .about {
    background: fixed url(../img/cta-bg1.webp);
  }
}

@media (min-width: 850px) {
  .menu__items--scroll {
    position: fixed;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    top: 0;
    left: 50%;
    width: 100%;
    max-width: 1170px;
    padding: 20px;
    z-index: 1000;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 900px) {
  .menu__link {
    font-size: 14px;
  }

  .price__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .kitchen__items {
    grid-template-columns: repeat(2, 1fr);
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 850px) {
  .header__menu {
    position: absolute;
    left: -100%;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-transition: left linear 0.4s;
    -o-transition: left linear 0.4s;
    transition: left linear 0.4s;
  }

  .header__menu--active {
    left: 0;
  }

  .menu__icon {
    display: inline-block;
    position: fixed;
    top: 0;
    right: 0;
    color: white;
    font-size: 30px;
    padding: 20px;
    cursor: pointer;
  }

  .menu__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .menu__item {
    padding: 20px 30px;
  }

  .menu__link--mobile {
    display: block;
  }

  .menu__link--laptop {
    display: none;
  }

  .fa-angle-down {
    float: right;
  }

  .submenu__items {
    position: relative;
    visibility: hidden;
    opacity: 0;
    height: 0;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }

  .submenu__link {
    padding: 10px 0 0 0;
  }

  .submenu__items--active {
    display: block;
    background-color: transparent;
    visibility: visible;
    opacity: 1;
  }

  .menu__item:hover > .submenu__items {
    display: block;
    background-color: transparent;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 770px) {
  .header__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .social {
    display: none;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 768px) {
  .telephone {
    padding-top: 10px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 750px) {
  .loyalnost-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 700px) {
  .kitchen__items {
    grid-template-columns: 1fr;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 640px) {
  .container {
    padding: 0 15px;
  }

  .about-page-1 {
    padding: 10px 0;
    top: 20%;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 500px) {
  .about-page-1__text {
    font-size: 15px;
  }

  .sauna-name {
    top: -350px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 360px) {
  .about-page-1__text {
    display: none;
  }

@supports (-webkit-appearance:none) {

}
}